$teal: #66e2dc;
$orange: #fa7453;
$tangerine: #ffb964;
$white: #fcfaf9;
$black: #191826;
$font-family: 'IBM Plex Sans', sans-serif;
$regular: 400;
$bold: 700;

$desktop:1600px;
$smol-desk: 950px;
$tablet:700px;