@import "./global", "./variables";

@mixin btnStyle(){
    width: 80%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
    border: none;
    margin-top: 18px;
    font-weight: $bold;
}

@mixin tablet(){
    @media(min-width:$tablet){
        @content;
    }
}

@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    }
}

@mixin smol(){
    @media(min-width:$smol-desk){
        @content;
    }
}

body{
    background: url("mobile.png") no-repeat center top fixed;
    //background-position: 10px 0px, right 3em bottom 2em;
    background-repeat: no-repeat;
    background-position: center;
    //background-size: cover;
    font-family: $font-family;
    height:100%;
    width: 100%;
    @include tablet(){
        background-image: url("bg-main-tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
    @include smol(){
        background-image: url("bg-main-desktop.png");
    }
}
#logo-header{
    margin-left: 10px ;
    margin-top: 10px;
    @include tablet(){
        margin-left: 50px;
      }
      @include desktop(){
        margin-left:22%;
    }

}
#header-img{
    height: 350px;
    visibility: hidden;
    margin-bottom: -10000px;
    @include tablet(){
        visibility: visible;
        //margin-left: 75vw;
        //margin-bottom: 1px;
        margin: -80px 65vw; 
        //padding-bottom: -50px;
    }
    @include smol(){
        margin-left: 75vw;
        height: 500px;
    }
}

#first-container{
    width:320px;
    height: 327px;
    margin: auto;
    margin-top: 155px;
    color: $black;
    z-index: 2;
    @include tablet(){
        width: 500px;
        margin-left: 50px;
        

      }
      @include smol(){
        max-width: 1100px;
        margin-left:10%;
        margin-top: -190px;
    }
    @include desktop(){
       margin-left:20%;
    }

    h1{
      word-spacing: -1px;
      //width:88px;
      font-size: 40px;
      font-weight: $bold;
      width: 70vw; 
      max-width: 1015px; 
      @include tablet(){
        font-size: 50px;
      }
      @include smol(){
        font-size: 88px;
    }
    @include desktop(){
        font-size: 95px;
    }
    }
    p{
        margin-top: 22px;
        font-size: 16px;
        width: 60vw;
        max-width: 825px;
        line-height: 1.5rem;
        @include smol(){
            font-size: 20px;
            line-height: 1.7rem;
            width: 100vw;
        }
    }
}

#container-images{
    background: url(".assets/bg-pattern-2.svg"), $black;
    //background-image: url(".assets/bg-pattern-2.svg");
    //background-color: $black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 20px;
    height:550px;
    margin-top: 270px;
    @include tablet(){
        width: 90vw;
        max-width:1100px;
    }
    @include smol(){
        height: 600px;
        margin-top: 310px;
    }
}
#back-img{
    width: 400px;
    height: 550px;
    //margin-top: -200px;
    margin-left: 50px;
    z-index: 1;
    position: absolute;
    @include tablet(){
        margin-left: 20%;
    }
}
#phone-img{
    width: 300px;
    margin-left: 20%;
    padding-bottom: 20px;
    margin-top: -140px;
    z-index: 100;
    position: absolute;
    @include tablet(){
        width: 250px;
        margin-left: 10%;
    }
    @include smol(){
        margin-left: 7%;
        width: 330px;
        margin-top: -15vh;
    }
    
}

#second-container{
    background-color: $orange;
    margin: auto;
    border-radius: 20px;
    margin-top: -30px;
    z-index: 4;
    position: absolute;
    width: 97vw;
    @include tablet(){
        width: 400px;
        margin-left: 35%;
        margin-top: -420px;
        z-index: 400;
    }
    @include smol(){
        margin-left: 52%;
        margin-top: -470px
    }
    @include desktop(){
        width: 450px;
    }

    h2{
      color: $white;  
      font-size: 40px;
      font-weight: $bold;
      margin-left: 15%;
      padding-top: 40px;
    }
    p{
        color: $white;
        margin-top: 20px;
        font-size: 16px;
        margin-left: 15%;
        width: 350px;
        line-height: 1.5rem;
        font-weight: $regular;
        @include tablet(){
            //width: 250px;
            width: 22vw;
            padding-top: 10px;
            @include desktop(){
                width: 18vw;
            }
        }
        
    }
    #money{
        color:$white;
        margin-left: 75px;
        margin-top: 30px;
        margin-bottom: 30px;

        span{
            font-weight: $bold;
            font-size: 70px;
        }
    }

}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    #apple-btn{
        background-color: $black;
        color: $white;
        @include btnStyle();
        &:hover{
            cursor: pointer;
            background-color: $teal;
            color: $black;
            font-weight: $bold;
        }
    }
    #android-btn{
        background-color: $white;
        color: $black;
        @include btnStyle();
        &:hover{
            cursor: pointer;
            background-color: $tangerine;
            color: $black;
            font-weight: $bold;
        }
        @include smol(){
            margin-bottom: 30px;
        }
    }
}

footer{
    background-color: $white;
    width: 90vw;
    margin-top: 540px;
    //margin-left: 20px;
    z-index: 7;
    position: absolute;
    @include tablet(){
        margin-top: 200px;
        padding-top: 100px;
        z-index: -1;
        width: 100%;
        margin-left: 5vw;
        @include smol(){
            margin-left: 5vw;
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            //padding-bottom: 150px;
        }
        @include desktop(){
            margin-left: 22vw;
        }
    }
    #logo-footer{
        margin-left: 30px;
        @include smol(){
            height: 40px;
            margin-top: 50px;
        }
    }
    p{
        margin-top: 40px;
        width: 290px;
        margin-left: 20px;
        @include tablet(){
            width: 350px;
        }
    }
    #text{
        @include smol(){
            margin-left: 4vw;
        }
    }
    span{
        font-weight: $bold;
    }
    #social-media{
        margin-top: 50px;
        padding-bottom: 30px;
        &:hover{
            cursor: pointer;
        }
        @include smol(){
            padding-left: 10vw;
            
        }
        img{
            margin-left: 28px;
            width: 25px;
        }
    }
}
