@import "./global", "./variables";

@mixin btnStyle(){
    width: 80vw;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 10px;
    border: none;
    margin-top: 8px;
}

@mixin tablet(){
    @media(min-width:$tablet){
        @content;
    }
}

@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    }
}

@mixin smol(){
    @media(min-width:$smol-desk){
        @content;
    }
}

body{
    background-image: url(".assets/mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: $font-family;
    height:100%;
    width: 100%;
}
#logo-header{
    margin-left: 90px;
}

#first-container{
    width:320px;
    height: 327px;
    margin: auto;
    margin-top: 50px;
    color: $black;

    h1{
      word-spacing: -1px;
      //width:88px;
      font-size: 40px;
      font-weight: $bold;  
    }
    p{
        margin-top: 20px;
        font-size: 16px;
    }
}

#container-images{
    background: url(".assets/bg-pattern-2.svg"), $black;
    //background-image: url(".assets/bg-pattern-2.svg");
    //background-color: $black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height:550px;
    margin-top: 200px;
}
#back-img{
    width: 400px;
    height: 550px;
    //margin-top: -200px;
    margin-left: 50px;
    z-index: 1;
    position: absolute;
}
#phone-img{
    width: 300px;
    margin-left: 20%;
    padding-bottom: 20px;
    margin-top: -140px;
    z-index: 100;
    position: absolute;
    
}

#second-container{
    background-color: $orange;
    margin: auto;
    border-radius: 20px;
    margin-top: -30px;
    z-index: 4;
    position: absolute;
    width: 97vw;

    h2{
      color: $white;  
      font-size: 40px;
      font-weight: $bold;
      margin-left: 30px;
      padding-top: 30px;
    }
    p{
        color: $white;
        margin-top: 20px;
        font-size: 16px;
        margin-left: 15%;
        width: 350px;
    }
    #money{
        color:$white;
        margin-left: 75px;
        margin-top: 20px;

        span{
            font-weight: $bold;
            font-size: 70px;
        }
    }

}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;

    #apple-btn{
        background-color: $black;
        color: $white;
        @include btnStyle();
    }
    #android-btn{
        background-color: $white;
        color: $black;
        @include btnStyle();
    }
}

footer{
    background-color: $white;
    width: 97vw;
    margin-top: 440px;
    //margin-left: 20px;
    z-index: 7;
    position: absolute;
    p{
        margin-top: 40px;
        width: 290px;
        margin-left: 20px;
    }
    #mail{
        margin-top: 5px;
        font-weight: $bold;
        margin-left: 20px;
    }
    #social-media{
        margin-top: 50px;
        padding-bottom: 30px;
    }
    img{
        padding-left: 15px;
    }
}
